@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: none;
  overflow-x: hidden;
}

body {
  font-family: "Comfortaa", sans-serif;
}

.Toastify__toast-body {
  font-family: "Comfortaa", sans-serif;
  font-size: 14px;
  color: #333;
}

.Toastify__toast {
  background-color: #f0f0f0;
}
